In [1]:
import pandas as pd
import yfinance as yf
from datetime import datetime

In [7]:
ticker_symbol = 'DB'

# Fetch data using yfinance's Ticker object
ticker = yf.Ticker(ticker_symbol)

data = ticker.history(start='2000-12-01', end='2023-12-01', interval='1mo')

In [8]:
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2000-12-01 00:00:00-05:00,49.639909,55.392877,46.845609,55.146320,438693,0.0,0.0
2001-01-01 00:00:00-05:00,53.666987,64.433258,52.002736,64.433258,1491931,0.0,0.0
2001-02-01 00:00:00-05:00,60.570555,61.638966,52.269843,54.437481,401804,0.0,0.0
2001-03-01 00:00:00-05:00,53.420426,57.118761,42.900713,49.639904,755608,0.0,0.0
2001-04-01 00:00:00-05:00,49.064617,54.406660,46.434687,53.749176,422345,0.0,0.0
...,...,...,...,...,...,...,...
2023-07-01 00:00:00-04:00,10.268967,11.415361,9.540327,10.813019,61435500,0.0,0.0
2023-08-01 00:00:00-04:00,10.735297,10.900456,10.259252,10.579854,38079700,0.0,0.0
2023-09-01 00:00:00-04:00,10.599284,10.793588,9.919220,10.677006,41663600,0.0,0.0
2023-10-01 00:00:00-04:00,10.560423,10.803303,9.715200,10.696436,68826800,0.0,0.0
2023-11-01 00:00:00-04:00,10.735297,12.173146,10.667290,12.095425,47374700,0.0,0.0

In [9]:
end_of_month_data = data.resample('M').last()

# Display the first few rows of the data
print(end_of_month_data.head())

                                Open       High        Low      Close  \
Date
2000-12-31 00:00:00-05:00  49.639909  55.392877  46.845609  55.146320
2001-01-31 00:00:00-05:00  53.666987  64.433258  52.002736  64.433258
2001-02-28 00:00:00-05:00  60.570555  61.638966  52.269843  54.437481
2001-03-31 00:00:00-05:00  53.420426  57.118761  42.900713  49.639904
2001-04-30 00:00:00-04:00  49.064617  54.406660  46.434687  53.749176

                            Volume  Dividends  Stock Splits
Date
2000-12-31 00:00:00-05:00   438693        0.0           0.0
2001-01-31 00:00:00-05:00  1491931        0.0           0.0
2001-02-28 00:00:00-05:00   401804        0.0           0.0
2001-03-31 00:00:00-05:00   755608        0.0           0.0
2001-04-30 00:00:00-04:00   422345        0.0           0.0

C:\Users\Tim\AppData\Local\Temp\ipykernel_10360\1100582627.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  end_of_month_data = data.resample('M').last()

In [14]:
close_data=end_of_month_data.loc[:,'Close']
close_data

Date
2000-12-31 00:00:00-05:00    55.146320
2001-01-31 00:00:00-05:00    64.433258
2001-02-28 00:00:00-05:00    54.437481
2001-03-31 00:00:00-05:00    49.639904
2001-04-30 00:00:00-04:00    53.749176
                               ...
2023-07-31 00:00:00-04:00    10.813019
2023-08-31 00:00:00-04:00    10.579854
2023-09-30 00:00:00-04:00    10.677006
2023-10-31 00:00:00-04:00    10.696436
2023-11-30 00:00:00-05:00    12.095425
Freq: ME, Name: Close, Length: 276, dtype: float64

In [15]:
output_file = "ClosingPrice.xlsx"  # Specify the name of the output file
close_data.to_excel(output_file, index=False)  # Export without the index